<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to Home <%= user.username %></h1>
  <a href="/logout">Log out</a>

  <% if (error.length > 0) { %>
    <p style="color:red;"><%= error[0] %></p>
  <% } %>

  <% if (!membershipStatus) { %>
    <form action="/join" method="POST">
      <label for="passcode">Enter secret passcode to become a member:</label>
      <input type="text" name="passcode" id="passcode">
      <button type="submit">Submit</button>
    </form>
  <% } else { %>
    <p>Club member account</p>
  <% } %>
  <% if (adminstatus) { %>
    <p>ADMIN</p>
  <% } %>

  <p>Create a new message!</p>
  <form action="/createMessage" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>
    <label for="content">Content:</label>
    <textarea name="content" id="content" required></textarea>
    <button type="submit">Post</button>
  </form>

  <!-- Display all messages -->
  <h2>Messages:</h2>
  <% messages.forEach(msg => {%>
    <% const date = new Date(msg.timestamp); %>
    <p>
      <strong>
        <%= msg.username || "Anonymous" %>
      </strong> 
      (<%= date.toLocaleString("en-GB", {
        day: "2-digit",
        month: "short",
        year: "numeric",
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit"
      }) %>)
    </p>

    <p><%= msg.title %></p>
    <p><%= msg.content %></p>

    <% if (adminstatus) { %>
      <form action="/deleteMessage/<%= msg.id %>" method="POST">
        <button type="submit">Delete</button>
      </form>
    <% } %>

    <hr>
  <% }) %>
</body>
</html>