<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
  <h1>Sign up!</h1>
  <h3><%- include("partials/errors.ejs") %></h3>
  <form action="/signup" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" value="<%= firstName || '' %>" required>

    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName" value="<%= lastName || '' %>" required>

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="<%= username || '' %>" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="<%= password || '' %>" required>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" value="<%= confirmPassword || '' %>" required>

    <input type="hidden" name="adminstatus" value="FALSE">
    <label for="adminstatus">Admin?</label>
    <input type="checkbox" name="adminstatus" id="adminstatus" value="<%= adminstatus || 'TRUE' %>">

    <button type="submit">Register</button>
  </form>
  <p> Already have an account? <a href="/login">Log in!</a></p>
</body>
</html>